<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CUSTOM CSS-->
    <link rel="stylesheet" href="/css/main.css">
    <!--FONTS-->
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <!--BOOSTRAP-->
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
    <!--ICONO--> 
    <link rel="icon" href="/img/icono.ico" type="image/png" />
  
    <title><%= title %></title>
</head>

<body>
    <section class="chat">
        <div class="max-width">
            <h2 class="title">AtChat</h2>
            <div class="chat-content">
                <div class="column left">
                    
                </div>
                <div class="column right">
                    <div class="chat-window id="chat-window">
                        <div class="box">
                            <div id="output"></div>
                        </div>
                        <div class="username">
                            <input class="form-control" type="text" id="username" placeholder="Username">
                        </div>
                        <div class="msg">
                            <input class="form-control" type="text" id="message" placeholder="Message">
                        </div>
                        <div class="button">
                            <button id="send" >Enviar</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
 

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="/socket.io/socket.io.js"></script>
   
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
        <script src="/js/chat.js"></script>
</body>

</html>